<html>
<body>
    <div class="aaa">
        <table>
        {% for y in range(field|length) %}
            <tr>
            {% for x in range(field[y]|length) %}
                {% if field[x][y][1] != None %}
                    {% set id = field[x][y][1] %}
                {% else %}
                    {% set id = "" %}
                {% endif %}
                <td onclick=send({y},{x}) class="{{ field[x][y][0] }}">{{ id }}</td>
        
            {% endfor %}
            </tr>
        {% endfor %}
        </table>
    </div> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</body>
</html>
<script>
// $(".aaa").html("{{ field }}")

function send(x, y){
$.ajax({
url: '/test/post',         /* Куда отправить запрос */
method: 'get',             /* Метод запроса (post или get) */
dataType: 'html',          /* Тип данных в ответе (xml, json, script, html). */
data: {x: x,
       y: y
      },     /* Данные передаваемые в массиве */
success: function(data){ 
    $("html").html(data) /* В переменной data содержится ответ от index.php. */
}
});
}
</script>
<style>
table{
    width: 100%;
    height: 100%;
}
td {
    border: 1px solid black;
    margin: 1px 1px;
    width: 100px;
    height: 100px; 
    text-align: center;
}
.free {
    background-color: green;
}
.used {
    background-color: blue;
}
.lock {
    background-color: red;
}
</style>